doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nunito-Sans:wght@400;700&display=swap")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.content
            div.form
                div.heading
                    h1 Maverick's Auth


                block content
